name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24

      - name: Dependencies
        run: go mod vendor

      - name: Checksum
        run: go mod verify

      - name: Test
        run: go test -short -v -failfast ./...
